#icon-1{
    height: 210px;
    background-color: black;
    border-bottom: solid 1px #3cbeb2;
    border-right: solid 1px #3cbeb2;
    padding-left: 60px;
    padding-top: 30px;
 
    
}
#icon-2{
   
    border-right:solid 1px #3cbeb2;
    background-color: black;
    padding-left: 70px;
    padding-top: 30px;
    border-bottom: solid 1px #3cbeb2;
  
}
#icon-3{

    border-right: solid 1px #3cbeb2;
    background-color: black;
    padding-left: 60px;
    padding-top: 30px;
    border-bottom: solid 1px #3cbeb2;
   
}  




